{% block Chessboard %}
<div id="chessboard" ng-controller="ChessboardCtrl" ng-init="init({{ game_id }})">
	<table>
		<tbody>
			<tr ng-repeat="row in board | orderBy:$index:reverse track by $index">
				<td class="row-label">{[{ $index + 1 }]}</td>
				<td ng-repeat="cell in row track by $index">
					<div ng-if="cell" class="chess-piece" style="background: url('{{ asset('bundles/polcodechess/images/pieces') }}/{[{ cell }]}.ico')">
						
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']" class="col-label">{[{ letter }]}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}