{% block Chessboard %}
<div id="chessboard" ng-controller="ChessboardCtrl" ng-init="init({{ game_id }}, {{ move_count }}, '{{ color }}')">
	<table>
		<tbody>
			<tr ng-repeat="row in board | reverse track by $index">
				<td class="row-label">{[{ 8 - $index }]}</td>
				<td	ng-repeat="cell in row track by $index" 
					data-coords="{[{ ($index + 1) + '' + (8 - $parent.$index) }]}"
					ng-click="squareClicked($index + 1, 8 - $parent.$index)" >
					<div	data-id="{[{ cell.id }]}" 
							ng-mouseenter="highlightMovesOn(cell)"
							ng-mouseleave="highlightMovesOff()" 
							ng-if="cell" 
							class="chess-piece" 
							style="background: url('{{ asset('bundles/polcodechess/images/pieces') }}/{[{ cell.name }]}.ico')">
						
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']" class="col-label">{[{ letter }]}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}